* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: .9em 3.2em;
  border: none;
  border-radius: 5px;
  background: rgb(50,120,180);
  background: linear-gradient(180deg, rgba(50,120,180,1) 0%, rgba(39,91,138,1) 100%);
  cursor: pointer;
  align-self: flex-end;
}

.nav-bar {
  display: flex;
  align-items: center;
  color: #636363;
  font-size: .8rem;
  padding: 3em;
}

.logo {
  justify-self: flex-start;
  display: flex;
  align-items: center;
}

.logo-title {
  font-weight: bold;
}

.nav-text {
  text-align: center;
  margin: 0 auto;
}

.main-text-container{
  color: #fff;
  background-color: #306289;
  padding: 5em 3em;
}

.main-title {
  font-size: 1.8rem;
}

.main-text {
  font-size: 1.1rem;
  font-weight:lighter;
  margin-top: 1em;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.user-input {
  padding: 5em;
  display: flex;
  flex-direction: column;
}

.input-title {
  font-size: 1.2rem;
}

hr {
  border: 1px solid lightgrey;
  margin-top: 1em;
}

input {
  padding: .9em 3em;
  border: 1.9px solid lightgray;
  border-radius: 5px;
}

label {
  color: #636363;
  font-size: .9rem;
  margin-bottom: .3em;
}

.input-area {
  display: flex;
  margin: 1em 0 1.5em 0;
  justify-content: space-between;
  gap: 2em;
}

.input-area-colum {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1.5em 0;
}

.bussinessCase-area {
  margin-top: 2em;
}

.graph-area {
  background-color: #F8F8F8;
  padding: 2em;
}

.graph-card {
  padding: 2em;
  background-color: #fff;
}

.card-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-table h3 {
  font-size: .8rem;
  line-height: 2.5rem;

  font-weight: bold;
  margin-top: 1em;
  border-bottom: 1px solid lightgray;
}

.card-table p {
  font-size: .8rem;
  line-height: 2.5rem;
  color: #636363;
  border-bottom: 1px solid lightgray;
}

.card-result {
  color: #fff;
  background-color: #DA6D75;
  text-align: center;
  font-size: 0.8rem;
  padding: 1.45em;
  align-self: flex-end;
}

footer {
  font-size: .7rem;
  text-align: center;
  color: #fff;
  background-color: #3B3B3B;
  padding: 1.5em;
}

footer p {
  margin-bottom: .9em;
}

.footer-title {
  font-size: .8rem;
  font-weight: bold;
}

@media screen and (max-width: 50em) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

}